/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.leftbar {
    width: 45vw;
    position: fixed;
}

section,
footer {
    color: white;
    min-width: 50vw;
    padding: 15px;
    margin-left: 45vw;
    background-color: #373b40;
    border-bottom: 0.5px solid grey;
    /* margin-right: 10vw; */
    min-height: 50vh;
}
.rightbar {
    color: white;
    border: 0.5px solid grey;
    background-color: #373b40;
    min-height: 100vh;
    padding: 15px;
    width: 10vw;
    margin-left: 93vw;
    position: fixed;
}

@media screen and (max-width: 1280px) {
    .leftbar {
        width: 30vw;
        overflow: hidden;
    }
    section,
    footer {
        min-width: 65vw;
        margin-left: 30vw;
    }
    .rightbar {
        width: 15vw;
    }
}

@media screen and (max-width: 992px) {
    .leftbar {
        width: 100%;
        height: 70vh;
        position: static;
    }
    section,
    footer {
        width: 100%;
        margin: 0;
    }
    .rightbar {
        display: none;
    }
}
